@import url("https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap");
:root {
  --gutter: 24px;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  font-family: "Bruno Ace SC", sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: 128px;
  color: #00FFA3;
}

h2 {
  font-size: 64px;
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex !important;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-end {
  justify-content: end;
}

.align-items-start {
  align-items: start;
}

.align-items-center {
  align-items: center;
}

.align-self-end {
  align-self: end;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  flex-direction: column;
}

.fs-1 {
  font-size: 128px;
}

.fs-2 {
  font-size: 64px;
}

.fs-3 {
  font-size: 24px;
}

.fs-4 {
  font-size: 20px;
}

.text-center {
  text-align: center;
}

.text-black {
  color: #000;
}

.text-white {
  color: #fff;
}

.text-dark {
  color: #15161D;
}

.bg-black {
  background-color: #000;
}

.bg-white {
  background-color: #fff;
}

.h-100 {
  height: 100%;
}

.mr-4 {
  margin-right: 4px;
}

.mr-16 {
  margin-right: 16px;
}

.mr-20 {
  margin-right: 20px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-28 {
  margin-bottom: 28px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(var(--gutter) / 2 * -1);
  margin-right: calc(var(--gutter) / 2 * -1);
}
.row > * {
  padding-left: calc(var(--gutter) / 2);
  padding-right: calc(var(--gutter) / 2);
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66667%;
}

.col-3 {
  flex: 0 0 auto;
  width: 25%;
}

.col-4 {
  flex: 0 0 auto;
  width: 33.33333%;
}

.col-5 {
  flex: 0 0 auto;
  width: 41.66667%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-7 {
  flex: 0 0 auto;
  width: 58.33333%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66667%;
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-3\/8 {
  flex: 0 0 auto;
  width: 37.5%;
}

.col-5\/8 {
  flex: 0 0 auto;
  width: 62.5%;
}

.btn {
  display: inline-block;
  padding: 12px 24px;
  border-radius: 32px;
  cursor: pointer;
}

.card {
  color: #15161D;
  padding: 16px;
  border: 1px solid #E3E3E3;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
}

.nav {
  color: #D1D1D1;
  padding-top: 40px;
}

.banner {
  padding-top: 72px;
  padding-bottom: 72px;
}

.intro {
  background-image: url("./../image/background-img.png");
  background-size: contain;
  padding-top: 160px;
  padding-bottom: 160px;
}

.about {
  padding-top: 160px;
  padding-bottom: 160px;
}

.contact {
  padding-top: 96px;
  padding-bottom: 96px;
}
.contact-icon {
  width: 162px;
}

.project {
  padding-top: 160px;
  padding-bottom: 160px;
}

.footer {
  padding-top: 40px;
  padding-bottom: 40px;
}/*# sourceMappingURL=all.css.map */