*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: 'Bruno Ace SC', sans-serif;
  line-height: 1.5;
  color: #fff;
  background-color: #000;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}
a {
  text-decoration: none;
  color: inherit;
}
h1 {
  font-size: 128px;
  color: #00FFA3;;
}
h2 {
  font-size: 64px;
}
